.homepage {
  max-width: 1100px;
  padding: 0 32px;

  @include breakpoint(xl) {
    margin: 0 auto 165px;
  }
}

.hero-img {
  width: 100%;
}

.homepage-button {
  display: flex;
}

.portfolio-img {
  margin: 96px 0 32px;
}

hr {
  color: $primary-color-greyish-dark-blue;
  opacity: 0.15;
}

hr:nth-child(2) {
  display: none;

  @include breakpoint(lg) {
  display: block;
  min-width: 113px;
  
    @include breakpoint(xxl) {
    min-width: 534px;
    }
  }
}


.contact-me-section {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 115px 0 80px;

  @include breakpoint(lg) {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}

.portfolio-button {
  margin-bottom: 47px;
}

.description {
  margin: auto;
  margin-bottom: 24px;
}

.text {
  text-align: center;

  @include breakpoint(lg) {
    width: 350px;
    text-align: left;
  }
}

.hero-section {
  position: relative;
    display: inline;
}

.bio-wrapper {
  @include breakpoint(lg) {
    position: absolute;
    background-color: white;
    bottom: 2px;
    width: 515px;
    left: -1px;
  }
}

.about-me-section {
  @include breakpoint(lg) {
    display: flex;
  }
}

.about-me-wrapper {
  @include breakpoint(lg) {
  height: 600px;
  min-width: 339px;
  padding: 96px 40px 96px 69px;

    @include breakpoint(xxl) {
      padding-left: 125px;
    }
  }
}