.index {
  padding: 0 32px;
  max-width: 1100px;

  @include breakpoint(xl) {
    margin: 0 auto 165px;
  }
}

.index-img {
  margin-bottom: 32px;
  width: 100%;
  @include breakpoint(lg) {
    margin: 0;
  }
}

article {
  padding-bottom: 72px;
}

.index-button {
  padding: 17px 32px;
}

.index-hr {
  margin-top: 60px;
}

.index-hr:nth-child(1) {
  margin: 0;
} 

.index-portfolio {
  @include breakpoint(lg) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.index-portfolio:nth-child(even) {
  flex-direction: row-reverse;
}

.index-content {
  @include breakpoint(lg) {
    width: 281px;
  }
}

.index-header {
  margin: 32px 0 29px;
}

.index-description {
  margin-bottom: 32px;
  font-size: 15px;
}