.primary-button {
  display: flex;
  align-items: center;
  background-color: $button-green;
  color: $base-white;
  width: 200px;
}

.arrow-title {
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 17px;
}

.arrow-down {
  position: relative;
  padding: 5px;
  width: 48px;
  height: 48px;
  background-color: #1e3444;
}

.arrow-down span {
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid $button-turquoise;
  border-right: 1px solid $button-turquoise;
  transform: translate(215% , 75%) rotate(45deg)
}

.arrow-down span:nth-child(1) {
  opacity: 0.25;
}

.arrow-down span:nth-child(2) {
  opacity: 0.5;
}


a:hover {
  background-color: $button-turquoise;
  .arrow-down {
    background-color: #56a292;
  }
  .arrow-down span {
  border-bottom: 1px solid $base-white;
  border-right: 1px solid $base-white;
  }
}

a:link {
    text-decoration: none;
}

a:disabled,
button[disabled]{
  background-color: $button-grey;
}

.secondary-button {
  height: 48px;
  border: 1px solid;
  padding: 0 38px;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $base-white;
}

.secondary-button:hover {
  background-color: $base-black;
  color: $base-white;
  border: none;
}

button:disabled,
button[disabled]{
  background-color: $base-white;
}