$primary-color-slightly-de-saturated-cyan: #5fb4a2;
;
$primary-color-dark-blue: #203a4c;
$primary-color-greyish-dark-blue: #33323d;

$secondary-color-very-light-grey: #fafafa;
$secondary-color-light-grey: #eaeaeb;
$secondary-color-bright-red: #f43030;

$base-white: #ffffff;

$button-green: #203a4c;
$button-turquoise: #5fb4a2;
$button-grey: #979797;
